@tailwind base;
@tailwind components;
@tailwind utilities;

#cursor {
  background: white;
  margin-left: 4px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {background: transparent}
  50% {background: white}
  100% {background: transparent}
}